
<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h3 id = "Priceheader">Product Price ($)</h3>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <input id = PriceInput>
    </div>
  </div>
    <div class = "row">
      <div class = "col-md-12">
        <h3 id = "DiscountAmountheader">Discount Amount (%)</h3>
    </div>
    </div>
  <div class = "row">
    <div class = "col-md-12">
      <input id = "DiscountAmountInput">
    </div>
  </div>
    <div class = "row">
      <button id = "Calculatebutton" (click) = "discountService.discountPrice()">Calculate</button>
    </div>
    <div class = "row">
      <div class = "col-md-12">
        <h3 id = "Answer">Answer</h3>
      </div>
  </div>

<router-outlet></router-outlet>
